#ID_CARBOHYDRATE:UNITNAME_RESIDUENUMBER_CHAINID,...
#
######################################################
# /!\ The ID_CARBOHYDRATE have to start by 'CAR*' /!\#
######################################################
#
#Exemple of format:
#	CARA:ASN_1_A,MAN_2_A,FUC_5_A

CAR78:BGL_1_C,BGL_2_C,BMA_3_C,AMA_4_C,BGL_5_C,AMA_6_C,BGL_7_C,BGA_8_C


